<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="EAN">
  <meta name="author" content="Bunksheet Inc.">
  <title>EAN</title>

  <link rel="apple-touch-icon" sizes="57x57" href="/assets/img/brand/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/assets/img/brand/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/assets/img/brand/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/assets/img/brand/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/assets/img/brand/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/assets/img/brand/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/assets/img/brand/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/assets/img/brand/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/assets/img/brand/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/assets/img/brand/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/img/brand/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/assets/img/brand/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/brand/favicon-16x16.png">

<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/assets/img/brand/ms-icon-144x144.png">
<meta name="theme-color" content="#fb6340">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
  <!-- Icons -->
  <link rel="stylesheet" href="./assets/vendor/nucleo/css/nucleo.css" type="text/css">
  <link rel="stylesheet" href="./assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" type="text/css">
  <!-- Page plugins -->
  <!-- Argon CSS -->

  <link rel="stylesheet" href="./assets/css/argon.min.css?v=1.0.0" type="text/css">
</head>



<body class="bg-default">
  <nav id="navbar-main" class="navbar navbar-horizontal navbar-transparent navbar-main navbar-expand-lg navbar-light">
    <div class="container text-center justify-content-center">
      <h2 class="text-white text-uppercase  ">Exam Notice Assignment</h2>


    </div>
  </nav>
  <!-- Main content -->
  <div class="main-content">
    <!-- Header -->
    <div class="header bg-gradient-warning py-7 pt-lg-9">
      <div class="container">
        <div class="header-body text-center  ">
          <div class="row justify-content-center">

          </div>
        </div>
      </div>
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
          xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </div>
    <!-- Page content -->
    <div class="container mt--8 ">
      <!-- Table -->
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
          <div class="card bg-secondary border-0">
            <div class="card-header bg-transparent ">

            </div>
            <div class="card-body px-lg-5 pt-lg-0">
              <div class="nav-wrapper mb-lg-3 mb-md-3">
                <ul class="nav nav-pills nav-fill  flex-md-row" id="tabs-icons-text" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link mb-sm-3 mb-md-0 active" id="tabs-icons-text-1-tab" data-toggle="tab"
                      href="#tabs-icons-text-1" role="tab" aria-controls="tabs-icons-text-1" aria-selected="true"><i
                        class="fas fa-sign-in-alt mr-2"></i>Login</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link mb-sm-3 mb-md-0" id="tabs-icons-text-2-tab" data-toggle="tab"
                      href="#tabs-icons-text-2" role="tab" aria-controls="tabs-icons-text-2" aria-selected="false"><i
                        class="ni fas fa-user-plus mr-2"></i>Register</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link mb-sm-3 mb-md-0" id="tabs-icons-text-3-tab" data-toggle="tab"
                      href="#tabs-icons-text-3" role="tab" aria-controls="tabs-icons-text-3" aria-selected="false"><i
                        class="ni ni-check-bold"></i>Verify</a>
                  </li>

                </ul>
              </div>
              <form role="form">

                <div class="tab-content" id="myTabContent">
                  <div class="tab-pane fade show active" id="tabs-icons-text-1" role="tabpanel"
                    aria-labelledby="tabs-icons-text-1-tab">
                    <div class="form-group">
                      <div class="input-group input-group-merge input-group-alternative">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                        </div>
                        <input class="form-control" placeholder="Enter Email Address" id="login_email" type="email"
                          required>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="input-group input-group-merge input-group-alternative ">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="ni ni-key-25"></i></span>
                        </div>
                        <input class="form-control" placeholder="Enter Password" id="login_password" type="password"
                          required>
                      </div>
                    </div>


                    <div class="text-center">
                      <button type="button" class="btn btn-primary" onclick="signInButton()">Login</button>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="tabs-icons-text-2" role="tabpanel"
                    aria-labelledby="tabs-icons-text-2-tab">


                    <div class="d-flex justify-content-center">
                      <div class="form-group">
                        <div class="input-group input-group-merge input-group-alternative">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                          </div>
                          <input class="form-control" placeholder="Enter First Name" id="register_fname" type="text"
                            required>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="input-group input-group-merge input-group-alternative ">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                          </div>
                          <input class="form-control" placeholder="Enter Last Name" id="register_lname" type="text"
                            required>
                        </div>
                      </div>
                    </div>
                    <div class="form-group ">
                      <div class="input-group input-group-merge input-group-alternative ">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="ni ni-badge"></i></span>
                        </div>
                        <input class="form-control" placeholder="Enter Employee ID" id="register_id" type="text"
                          required>
                      </div>
                    </div>
                     <div class="d-flex justify-content-center">
                    <div class="form-group ">
                      <div class="input-group input-group-merge input-group-alternative ">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                        </div>
                        <input class="form-control" placeholder="Enter Email Address" id="register_email" type="email"
                          readonly >
                      </div>
                    </div>
                     <div class="text-center">
                        <button type="button" class="btn btn-primary " onclick="checkButton()" id="check">Check
                        </button>
                      </div>
                    </div>
                    <div class="d-flex justify-content-center">
                      <div class="form-group">
                        <div class="input-group input-group-merge input-group-alternative">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-key-25"></i></span>
                          </div>
                          <input class="form-control" id="register_password" placeholder="Enter Password"
                            type="password" required>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="input-group input-group-merge input-group-alternative ">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-key-25"></i></span>
                          </div>
                          <input class="form-control" id="register_passwordsecond" placeholder="Confirm Password"
                            type="password" required>
                        </div>
                      </div>
                    </div>
                                
                    <div class="text-center">
                      <button type="button" class="btn btn-primary " onclick="registerButton()" id="create_account"
                        disabled="true">Create
                        account </button>
                    </div>

                  </div>

                  <div class="tab-pane fade " id="tabs-icons-text-3" role="tabpanel"
                    aria-labelledby="tabs-icons-text-3-tab">
                    <div class="form-group ">
                      <div class="input-group input-group-merge input-group-alternative ">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                        </div>
                        <input class="form-control" placeholder="Enter Email Address" id="verify_email" type="email"
                          required>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="input-group input-group-merge input-group-alternative ">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="ni ni-key-25"></i></span>
                        </div>
                        <input class="form-control" id="verification_code" placeholder="Enter verification code"
                          type="number">
                      </div>
                    </div>
                    <div class="text-center">
                      <button type="button" class="btn btn-primary mt-3" onclick="resendButton()">Resend Code</button>
                    </div>
                    <div class="text-center">
                      <button type="button" class="btn btn-primary mt-3" onclick="verifyButton()">Verify
                        account</button>
                    </div>

                  </div>

                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer -->

  <!-- Argon Scripts -->
  <!-- Core -->
  <script src="./assets/vendor/jquery/dist/jquery.min.js"></script>
  <script src="./assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="./assets/vendor/js-cookie/js.cookie.js"></script>
  <script src="./assets/js/amazon-cognito-auth.min.js"></script>
  <script src="https://sdk.amazonaws.com/js/aws-sdk-2.7.16.min.js"></script>
  <script src="./assets/js/amazon-cognito-identity.min.js"></script>
  <script src="./assets/js/config.js"></script>


  <script>
  var urldefault = "bunksheet.ml";
    function signInButton() {

      var authenticationData = {
        Username: document.getElementById("login_email").value,
        Password: document.getElementById("login_password").value,
      };

      var authenticationDetails = new AmazonCognitoIdentity.AuthenticationDetails(authenticationData);

      var poolData = {
        UserPoolId: _config.cognito.userPoolId, // Your user pool id here
        ClientId: _config.cognito.clientId, // Your client id here
      };

      var userPool = new AmazonCognitoIdentity.CognitoUserPool(poolData);

      var userData = {
        Username: document.getElementById("login_email").value,
        Pool: userPool,
      };

      var cognitoUser = new AmazonCognitoIdentity.CognitoUser(userData);

      cognitoUser.authenticateUser(authenticationDetails, {
        onSuccess: function (result) {
          var accessToken = result.getAccessToken().getJwtToken();
          console.log(result);

          window.location.assign("/notice")
        },

        onFailure: function (err) {
          alert(err.message || JSON.stringify(err));
        },
      });
    }
  </script>


  <script>



    function registerButton() {

      var fname;
      var lname;
      var reg_id;
      var password;
      var email_id
      var master;
      var poolData;

      fname = document.getElementById("register_fname").value;
      lname = document.getElementById("register_lname").value;
      reg_id = document.getElementById("register_id").value;
      email_id = document.getElementById("register_email").value;
      //master = document.getElementById("master_password").value;

      if (document.getElementById("register_password").value != document.getElementById("register_passwordsecond").value) {
        alert("Passwords Do Not Match!")

      } else {
        password = document.getElementById("register_password").value;
      }

      poolData = {
        UserPoolId: _config.cognito.userPoolId, // Your user pool id here
        ClientId: _config.cognito.clientId // Your client id here
      };
      var userPool = new AmazonCognitoIdentity.CognitoUserPool(poolData);

      var attributeList = [];

      var dataEmail = {
        Name: 'email',
        Value: email_id, //get from form field
      };

      var datafName = {
        Name: 'name',
        Value: fname, //get from form field
      };
      var datalName = {
        Name: 'family_name',
        Value: lname, //get from form field
      };

      var datareg_id = {
        Name: 'custom:college_reg_id',
        Value: reg_id,
      };

      var attributeEmail = new AmazonCognitoIdentity.CognitoUserAttribute(dataEmail);
      var attributefName = new AmazonCognitoIdentity.CognitoUserAttribute(datafName);
      var attributelName = new AmazonCognitoIdentity.CognitoUserAttribute(datalName);
      var attributeregid = new AmazonCognitoIdentity.CognitoUserAttribute(datareg_id);

      attributeList.push(attributeEmail);
      attributeList.push(attributefName);
      attributeList.push(attributelName);
      attributeList.push(attributeregid);


      userPool.signUp(email_id, password, attributeList, null, function (err, result) {
        if (err) {
          alert(err.message || JSON.stringify(err));
          return;
        }
        cognitoUser = result.user;
        alert("User Registered. Press OK to move to verify tab ");
        $("#tabs-icons-text-3-tab").click();
        console.log('user name is ' + cognitoUser.getUsername());

      });
    }



    function verifyButton() {

      var email_id = document.getElementById("verify_email").value;
      var verify = document.getElementById("verification_code").value;





      var poolData = {
        UserPoolId: _config.cognito.userPoolId, // Your user pool id here
        ClientId: _config.cognito.clientId, // Your client id here
      };

      var userPool = new AmazonCognitoIdentity.CognitoUserPool(poolData);

      var userData = {
        Username: document.getElementById("verify_email").value,
        Pool: userPool,
      };

      var cognitoUser = new AmazonCognitoIdentity.CognitoUser(userData);

      cognitoUser.confirmRegistration(verify, true, function (err, result) {
        if (err) {
          alert(JSON.stringify(err));
          return;
        }
         alert(result);
         $("#tabs-icons-text-3-tab").click();
       
      });
    }

    function resendButton() {

      var email_id = document.getElementById("verify_email").value;
      var verify = document.getElementById("verification_code").value;





      var poolData = {
        UserPoolId: _config.cognito.userPoolId, // Your user pool id here
        ClientId: _config.cognito.clientId, // Your client id here
      };

      var userPool = new AmazonCognitoIdentity.CognitoUserPool(poolData);

      var userData = {
        Username: document.getElementById("verify_email").value,
        Pool: userPool,
      };

      var cognitoUser = new AmazonCognitoIdentity.CognitoUser(userData);

      cognitoUser.resendConfirmationCode(function (err, result) {
        if (err) {
          alert(JSON.stringify(err.message));

          return;
        }
        alert(result);
      });
    }

    function checkButton() {
      var registerid = document.getElementById("register_id").value;
      console.log(registerid);
      $.ajax({
        type: 'POST',
        url:"/cc/getEmail",
        data: { id: registerid },
        success: function (result) {
          console.log(result);
          $("#create_account").attr("disabled", false);
          $("#register_email").val(result.responseJSON.email);
        },
        error: function (result) {
          alert(result.responseJSON.message);
        }
      });
    }

    

  </script>

  <!-- Argon JS -->


  <script src="./assets/js/argon.min.js?v=1.0.0"></script>


</body>

</html>
